.Form {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 10px;
}

.Form-label {
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.Form-button {
  margin: 10px;
  width: 100px;
}
